*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: bisque;
}

.wrapper{
    margin: 50px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 265px);
}

.wrapper li{
    list-style: none;
    background: beige;
    height: 250px;
    border-radius: 5px;
    padding: 15px 20px 20px;
}

.add-box, .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.add-box .icon{
    height: 70px;
    width: 70px;
    cursor: pointer;
    border: 2px dashed blue;
    border-radius: 50%;
}

.add-box .icon span{
    font-size: 40px;
    color: blue;
}

.add-box p {
    color: blue;
    font-weight: 500;
    margin-top: 23px;
    font-size: 20px;
}

.note p{
    font-size: 24px;
    font-weight: 500;

}

.note span{
    display: block;
    margin-top: 5px;
    font-size: 16px;
    color: black;
}

.note .bottom-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 5px; */
    padding-top: 10px;
    border-top: 1px solid aquamarine;
}

.bottom-content span {
    color: burlywood;
    font-size: 14px;
}

.settings span {
    color: black;
    font-size: 20px;
    cursor: pointer;
    /* border: 1px dashed black;
    border-radius: 50%; */
    /* height: 20px; */
}

.settings{
    position: relative;
}

.settings .menu {
    position: absolute;
    bottom: 5px;
    right: -5px;
    left: -30px;
    transform: scale(0);
    transform-origin: bottom right;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    transition: transform 0.2s ease;
}

.settings.show .menu {
    transform: scale(1);
}

.settings .menu p {
    height: 25px;
    padding: 5px;
    font-size: 14px;
    border-radius: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}

.settings .menu p:hover {
    background: rgba(0, 0, 0, 0.2);
}

.popup-box{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.popup-box .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 500px;
    max-width: 400px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.popup-box, .popup{
    opacity: 0;
    pointer-events: none;
}

.popup-box.show, .popup {
    opacity: 1;
    pointer-events: auto;
}

.popup .content {
    background-color: whitesmoke;
}

.popup .content header{
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.content header{
    font-size: 20px;
    font-weight: 500;
}

.content header span{
    color: #8b8989;
    cursor: pointer;
    font-size: 23px;
}

.content form {
    margin: 15px 25px 35px;

}

.content form input, textarea{
    width: 100%;
    padding: 8px;
    /* margin: 5px; */
    font-size: 17px;
    border: 1px solid #8b8989;
    border-radius: 4px;
}

.content form .row{
    margin: 15px 0;
}

.content button{
    width: 100%;
    margin: 12px 0;
    height: 30px;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #8b8989;
    border-radius: 4px;
    background: bisque;
}

.content button:hover{
    color: bisque;
    background: rgba(0, 0, 0, 0.4);
}